# GovTools Master Gateway (Caddy)

govtools.org {
    handle_path /gov-posts-data/* {
        root * /apps/govtools-posts-tracker/data
        file_server
        header Access-Control-Allow-Origin *
    }

    handle {
        reverse_proxy home:3000
    }

    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
}

cataloger.govtools.org {
    reverse_proxy cataloger:3000
    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
}

open.govtools.org {
    reverse_proxy ia-open:3000
    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
}
